.text-container {
  width: 320px;
}

.name-date {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.sent-comment {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.delete-comment {
  width: 70px;
  height: 25px;
  background-color: red;
}