.picture-tags {
  display: flex;
}

.comment-container {
  display: block;
  width: 400px;
  margin-left: 30px;
}

.comment-box {
  resize: none;
  display: block;
  width: 380px;
  height: 460px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

.type-comment {
  width: 330px;
  height: 40px;
  padding-left: 5px;
}

.message-container {
  display: flex;
}

.send-comment {
  width: 50px;
  height: 41px;
}